raspberrypi/services/nodered/setup/flows.json
[
  {
    "id": "d67477d835fe3e8d",
    "type": "tab",
    "label": "Wilson",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4b1509729981ae3b",
    "type": "serial-port",
    "name": "",
    "serialport": "/dev/ttyACM0",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "b3b76e95dcde4e9e",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "wilson",
    "name": "",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.x",
    "url": "http://influxdb:8086",
    "timeout": "10",
    "rejectUnauthorized": false
  },
  {
    "id": "6436544999201ad3",
    "type": "serial in",
    "z": "d67477d835fe3e8d",
    "name": "arduino",
    "serial": "4b1509729981ae3b",
    "x": 90,
    "y": 120,
    "wires": [["fd4e2e11583829bd", "6704e304cf9f4f78"]]
  },
  {
    "id": "6f24d6ed488787bc",
    "type": "influxdb out",
    "z": "d67477d835fe3e8d",
    "influxdb": "b3b76e95dcde4e9e",
    "name": "save to influxdb",
    "measurement": "sensors",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot",
    "bucket": "wilson",
    "x": 800,
    "y": 120,
    "wires": []
  },
  {
    "id": "fd4e2e11583829bd",
    "type": "debug",
    "z": "d67477d835fe3e8d",
    "name": "debug serial read",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 290,
    "y": 40,
    "wires": []
  },
  {
    "id": "6704e304cf9f4f78",
    "type": "json",
    "z": "d67477d835fe3e8d",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 250,
    "y": 120,
    "wires": [["7e13841bedbee324", "fd52101fabfac239"]]
  },
  {
    "id": "7dc1824d1a070db3",
    "type": "csv",
    "z": "d67477d835fe3e8d",
    "name": "",
    "spec": "rfc",
    "sep": ",",
    "hdrin": "",
    "hdrout": "none",
    "multi": "one",
    "ret": "\\r\\n",
    "temp": "timestamp,frequency,timeSpan",
    "skip": "0",
    "strings": true,
    "include_empty_strings": "",
    "include_null_values": "",
    "x": 650,
    "y": 280,
    "wires": [["5a2bcf534888f4c4", "92a410a07a8e092a"]]
  },
  {
    "id": "5a2bcf534888f4c4",
    "type": "debug",
    "z": "d67477d835fe3e8d",
    "name": "debug csv",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 830,
    "y": 220,
    "wires": []
  },
  {
    "id": "7e13841bedbee324",
    "type": "function",
    "z": "d67477d835fe3e8d",
    "name": "add timestamp",
    "func": "msg.payload.timestamp = new Date().toLocaleString(\"es-AR\");\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 280,
    "wires": [["7dc1824d1a070db3"]]
  },
  {
    "id": "92a410a07a8e092a",
    "type": "file",
    "z": "d67477d835fe3e8d",
    "name": "save to csv file",
    "filename": "/sensors/sensors.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 840,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "fd52101fabfac239",
    "type": "function",
    "z": "d67477d835fe3e8d",
    "name": "transform to flow and volume",
    "func": "const frequency = msg.payload.frequency;\nconst timeSpan = msg.payload.timeSpan;\n\nconst flowInMlPerMinute = 123 * frequency + 234;\nconst timeSpanInMinute = timeSpan / 1000 / 60;\nconst volumeInMl = flowInMlPerMinute * timeSpanInMinute;\n\nmsg.payload = {\n    flow1: flowInMlPerMinute,\n    volume1: volumeInMl\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 120,
    "wires": [["32c075c6e5b8dd02", "6f24d6ed488787bc"]]
  },
  {
    "id": "32c075c6e5b8dd02",
    "type": "debug",
    "z": "d67477d835fe3e8d",
    "name": "debug transform to flow and volume",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 40,
    "wires": []
  }
]
