raspberrypi/services/nodered/setup/flows.json
[
  {
    "id": "d67477d835fe3e8d",
    "type": "tab",
    "label": "Wilson",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4b1509729981ae3b",
    "type": "serial-port",
    "name": "",
    "serialport": "/dev/ttyACM0",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "b3b76e95dcde4e9e",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "wilson",
    "name": "",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.x",
    "url": "http://influxdb:8086",
    "timeout": "10",
    "rejectUnauthorized": false
  },
  {
    "id": "6436544999201ad3",
    "type": "serial in",
    "z": "d67477d835fe3e8d",
    "name": "arduino",
    "serial": "4b1509729981ae3b",
    "x": 150,
    "y": 100,
    "wires": [["fd4e2e11583829bd", "6704e304cf9f4f78"]]
  },
  {
    "id": "c09caacb6df1df28",
    "type": "debug",
    "z": "d67477d835fe3e8d",
    "name": "debug transform 2 volume",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 40,
    "wires": []
  },
  {
    "id": "6f24d6ed488787bc",
    "type": "influxdb out",
    "z": "d67477d835fe3e8d",
    "influxdb": "b3b76e95dcde4e9e",
    "name": "save to influxdb",
    "measurement": "sensors",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "iot",
    "bucket": "wilson",
    "x": 820,
    "y": 100,
    "wires": []
  },
  {
    "id": "5a674543afb5ee84",
    "type": "change",
    "z": "d67477d835fe3e8d",
    "name": "transform to volume",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"volume1\": payload.pulseCount * 3000 / 416\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 560,
    "y": 100,
    "wires": [["c09caacb6df1df28", "6f24d6ed488787bc"]]
  },
  {
    "id": "fd4e2e11583829bd",
    "type": "debug",
    "z": "d67477d835fe3e8d",
    "name": "debug serial read",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 410,
    "y": 40,
    "wires": []
  },
  {
    "id": "6704e304cf9f4f78",
    "type": "json",
    "z": "d67477d835fe3e8d",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 100,
    "wires": [["5a674543afb5ee84", "7e13841bedbee324"]]
  },
  {
    "id": "7dc1824d1a070db3",
    "type": "csv",
    "z": "d67477d835fe3e8d",
    "name": "",
    "spec": "rfc",
    "sep": ",",
    "hdrin": "",
    "hdrout": "none",
    "multi": "one",
    "ret": "\\r\\n",
    "temp": "timestamp,pulseCount",
    "skip": "0",
    "strings": true,
    "include_empty_strings": "",
    "include_null_values": "",
    "x": 710,
    "y": 240,
    "wires": [["5a2bcf534888f4c4", "92a410a07a8e092a"]]
  },
  {
    "id": "5a2bcf534888f4c4",
    "type": "debug",
    "z": "d67477d835fe3e8d",
    "name": "debug csv",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 910,
    "y": 180,
    "wires": []
  },
  {
    "id": "7e13841bedbee324",
    "type": "function",
    "z": "d67477d835fe3e8d",
    "name": "add timestamp",
    "func": "msg.payload.timestamp = new Date().toLocaleString(\"es-AR\");\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 240,
    "wires": [["7dc1824d1a070db3"]]
  },
  {
    "id": "92a410a07a8e092a",
    "type": "file",
    "z": "d67477d835fe3e8d",
    "name": "save to csv file",
    "filename": "/sensors/sensors.csv",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 920,
    "y": 240,
    "wires": [[]]
  }
]
